
.visivel{
    margin-top: 20px;
}

.about-section {
    background-color: #fff;
    position: relative;
    top:14.4vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display:flex;
    align-items: center;
    width:100%;
    display: block;
    background:linear-gradient(45deg, blueviolet, lightgreen);
}

.container-button-1{
    margin-top: 60px;
    padding-bottom: 10px;
}

.container-button-2{
    margin-top: 30px;
    padding-bottom: 40px;
}

.details-section ul li{
    margin:30px;
}

.profile-container {
    height:55vh;
    width:100vw;
}

.profile-picture {
    width: 220px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top: 40px;
}

.name {
    color:#fff;
    font-size: 25pt;
    margin-bottom: 10px;
}

.bio {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #0073e6;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #005bb5;
}

.toggle-details {
    background-color:#0ef;
    box-shadow: 0 0 10px #0ef;
    color:#333;
    padding: 12px 15%;
    font-size:16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    
    transition: background-color 0.3s ease;
}

.toggle-details a{
    color:#333;
}

.toggle-details:hover{
    transition: .2s linear;
    letter-spacing: 1px;
    background-color:#0ef;
    box-shadow: none;
}

.details-section {
    display: none; /* Inicialmente oculto */
    max-height: 0; /* Altura inicial 0 */
    overflow: hidden; /* Oculta conteúdo excedente */
    transition: max-height 0.5s ease; /* Transição suave para altura */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.details-section.visible {
    display: block; /* Mostra o conteúdo */
    background: linear-gradient(45deg, blueviolet, lightgreen);
}


.details-section ul li h3{
    font-size: 20px;
    color:#fff;
    margin-bottom: 10px;
}

.details-section ul li p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}

/*Resposividade*/
@media(width:320px) and (height:568px){
    .profile-container{
        height:72vh;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .toggle-details{
        width:90%;
    }
}

/* iPhone 14 - Modo retrato */
@media (min-device-width: 390px) and (max-device-width: 390px) and (min-device-height: 844px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .profile-container {
        height: 80vh;
    }
    .profile-picture {
        width: 220px;
        height: 220px;
    }
    .name {
        font-size: 2rem;
    }
    .bio {
        font-size: 1rem;
    }

    .toggle-details{
        width:90%;
    }
}

/* iPhone 14 - Modo paisagem */
@media (min-device-width: 844px) and (max-device-width: 844px) and (min-device-height: 390px) and (max-device-height: 390px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .profile-container {
        height: 60vh;
    }
    .profile-picture {
        width: 180px;
        height: 180px;
    }
    .name {
        font-size: 1.8rem;
    }
    .bio {
        font-size: 0.9rem;
    }

    .toggle-details{
        width:90%;
    }
}

@media(width:915px){
    .head-mobile {
        width: 100%;
    }

    .profile-container {
        width:100vw;
    }

    .titulo-footer {
        width: 100vw;
    }

    .toggle-details{
        width:90%;
    }

}

@media(min-width:321px) and (max-width:380px) and (min-height:550px) and (max-height:700px){
    .details-section{
        margin-top:0;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .profile-container{
        height:62vh;
    }

    .toggle-details{
        width:90%;
    }
}

/*Mobile*/
@media(min-width:360px) and (max-width:391px) and (min-height:739px) and (max-height:800px){
    .profile-container {
        height: 53vh;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(width:384px) and (min-height:640px) and (max-height:649px){
    .profile-container{
        height:64vh;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(min-width:392px) and (max-width:429px) and (min-height:650px) and (max-height: 916px){
    .profile-container {
        height: 45vh;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(min-width:385px) and (max-width:391px){
    .profile-container {
        height: 48vh;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(min-width:430px) and (max-width:769px) and (min-height:898px) and (max-height: 933px){
    .profile-container{
        height:45vh;
    }

    .about-section{
        position: relative;
        top:9.9vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(width:344px) and (height:882px){
    .profile-container {
        height: 53vh;
        margin-top: 0vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(min-width:665px) and (max-width:950px){
    .profile-container {
        height: 115vh;
    }

    .about-section{
        position: relative;
        top:20vh;
    }

    .toggle-details{
        width:90%;
    }
}

@media(width:740px){
    .profile-container {
        height: 125vh;
    }

    .toggle-details{
        width:90%;
    }
}
