
.div{
    min-height: 100vh;
    background:#1f242d;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:22vh;
    margin-bottom:10vh;
}

.contact h2{
    font-size: 25pt;
    color:#707070;
    margin-bottom:10px;
    text-align: center;
}

.contact form {
    width: 600px;
}

form .input-box{
    width: 600px;
}

.field .item{
    width:100%;
    padding:18px;
    background:transparent;
    border:2px solid #0ef;
    outline: none;
    border-radius:6px;
    font-size:16px;
    color: #707070;
    margin:12px 0;
}

.field.error .item{
    border-color: #d93025;
}

.field .item::placeholder{
    color:rgba(255, 255, 255 .3);
}

.field .error-txt {
    font-size: 14.5px;
    color:#d93025;
    text-align:left;
    margin: -5px 0 10px;
    display:none;
}

.field.error .error-txt{
    display:block;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}

form .textarea-field .item{
    resize:none;
}

form button{
    width: 100%;
    padding:12px 32px;
    background: #0ef;
    border:none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0ef;
    font-size:16px;
    color:#333;
    font-weight: 600;
    cursor:pointer;
    margin-top: 20px;
}

form button:hover {
    transform: scale(1.03);
    box-shadow: none;
    letter-spacing: 1px;
}

/*Responsividade*/
@media(min-width: 320px) and (max-width:427px){
    .contact{
        margin-left:17px;
        margin-bottom:15vh;
    }

    form .input-box{
        width: 90vw;
    }

    .contact h2{
        font-size: 30px;
        margin-right:19px;
    }
}

@media(min-width: 374px) and (max-width: 428px){
    .contact{
        top:15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:15px;
        margin-bottom:15vh;
    }

    form .input-box{
        width: 90vw;
    }

    .contact h2{
        font-size: 30px;
        margin-right:19px;
    }
}

@media(min-width: 429px) and (max-width: 550px){
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        top:15vh;
        margin-left:20px;
        margin-bottom:15vh;
    }

    form .input-box{
        width: 90vw;
    }

    .contact h2{
        font-size: 30px;
        margin-right:19px;
    }
}

/*Rotação mobile*/
@media(min-width:600px) and (max-width:950px){
    .contact{
        position: relative;
        top: 15vh;
        margin-bottom: 15vh;
    }
}
