
body.dark{
    background-color:#232c35;
}

section.dark{
    background-color:#232c35;
}

header.dark{
    background-color:#232c35;
}

main.dark{
    background-color:#232c35;
}

/*Desktop*/
header {
    padding:20px;
    display: flex;
    align-items:center;
    height:125px;
    width: 100vw;
}

header nav{
    display: flex;
    align-items: center;
}

header ul{
    margin-left:47vw;
}

header h1 {
    color:#0ef;
    font-size:2.5rem;
    margin-left: 0.7vw;
    margin-right:20px;
}

.titulo-mobile{
    display: none;
}

header .navegacao-primaria {
    display: flex;
    gap:20px;
    align-items: center;
}

/*Borda dinamica*/
header .navegacao-primaria li a{
    text-decoration: none;
    font-size: 18pt;
    color:#3016ec;
    font-weight: 500;
    position: relative;
}

/*Quando passar o mause a bordar aparecera*/
/*Esse é o efeito do after*/
nav .navegacao-primaria li a::after{
    content: "";
    width:0%;
    height:2px;
    background-color: #0ef;
    position: absolute;
    left:0;
    bottom: 0;
}

header .navegacao-primaria li a:hover::after{
    text-decoration: none;
    font-size: 16pt;
    color:#f1c40f;
    width: 100%;
}

/*login*/

.login{
    margin-left:20px;
    display: flex;
}

.login .user{
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    font-size: 12pt;
    height: 35px;
    margin-right: .5vw;
    border: 0.2px solid #707070;
}

.login .senha{
    width: 180px;
    padding: 8px;
    padding-right: 32px;
    border-radius: 5px;
    outline: none;
    font-size: 12pt;
    height: 35px;
    border: 0.2px solid #707070;
}

.login .btn-login{
    cursor:pointer;
    padding: 8px;
    width:110px;
    height: 35px;
    border-radius: 5px;
    background-color: #3016ec;
    margin-left:1vw;
    border: none;
    color:azure;
}

.login .btn-login:hover{
    background-color:#f1c40f;
    color:azure;
    
}

.cadastro{
   position:absolute;
   left:92.5vw;
   top:85px;
   margin:5px;
}

.cadastro a{
    color:#3016ec;
    margin-top:5px;
    font-weight: 500;
}

.cadastro a:hover{
    color:#f1c40f;
    text-decoration: underline;
}

.login div{
    position: relative;
}

.login div i{
    cursor: pointer;
    font-size: 20px;
    right: 9%;/*Faz com que olho entre dentro do input*/
    color:#999594d7;
    display:flex;
    position:absolute;
    bottom:8px;
    right: 5px;
}

.menu-mobile{
    background-color:#0000008c;
    position:absolute;
    top:10vh;
    left:0px;
    width:100%;
    height:0vh;
    backdrop-filter: blur(10px);/*Dar o efeito de vidro ou seja um desfoque*/
    visibility: hidden;
    overflow: hidden; /*Esconde o menu de forma proporcional*/
    transition: 0.5s;
}

.menu-mobile a{
    color:azure;
    text-decoration: none;
    display:block;
    padding:20px 20px;
    font-size: 18pt;
}

.menu-mobile a:hover{
    background-color: #000!important;
    
}

.head-mobile .btn-menu{
    visibility: hidden;
    /*display: none;*/
}

/*Tema Claro Escuro*/

.claroEscuro{
    display: none;
}

.checkbox {
    opacity:0; /*esconde o checkbox deixando totalmente transparente*/
    position:absolute;
    
}

.label{
    background-color:#000;
    border-radius: 50px;
    cursor:pointer;
    top: 55px;
    left:265px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    height: 18px;
    width:39px;
    transform: scale(1.5);
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    /*top:2px;*/
    left:2px;
    /*height: 13px;*/
    /*width:13px;*/
    height: 14px;
    width:14px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform:translateX(21px)
}

.fa-moon{
    /*margin-left: 5px;*/
    margin-left: 2.6px;
    color:#f1c40f;
    font-size: 10px;
}

.fa-sun{
    /*margin-right: 5px;*/
    margin-right: 2.6px;
    color:#f39c12;
    font-size: 10px;
}

/*Responsividade*/
@media(width:320px){

    header h1{
        top:0.9vh !important;
    }
}

@media(min-width:319px) and (max-width:429px){
    
    header{
        width: 100vw;
        padding: 0;
        height: 10vh;
    }

    header .navegacao-primaria{
        display: none;   
    }
    
    .titulo-mobile{
        display: block;
    }

    .cadastro{
        display: none;
    }    

    /*Btn Mobile*/
    header nav{
        display: none;
    }

    header h1 {
        color:#0ef;
        font-size: 1.9rem;
        left: 24vw;
        top:2.5vh;
        position: absolute;
    }

    .head-mobile{
        width: 100vw;
        height:10vh;
        position: fixed;
        z-index: 999;
        padding: 20px;
        display: block;
        background-color: #000;
        position: fixed;
        top:0;
        box-shadow: 1px 3px 40px #0ef;
        opacity: 0.9;
    }
    
    .head-mobile .btn-menu {
        width:12vw;
        height:6vh;
        border: 2px solid #000;
        cursor:pointer;
        border-radius: 5px;
        background-color:#000;
        visibility: visible;
        position: absolute;
        top: 2vh;
        left: 5vw;
    }

    .linha{
        width:80%;
        height:5px;
        background-color: #ccc;
        display: block;
        position:relative;
        margin:5px auto;
        border-radius: 10px;
        transition: 0.3s;
    }

    .btn-menu.ativar{
        border:1px solid #000;
    }

    button.ativar .linha:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
        background-color: red;
    }

    button.ativar .linha:nth-child(2){
        width: 0;
    }
    
    button.ativar .linha:nth-child(3){
        transform: translateY(-10px) rotate(45deg);
        background-color: red;
    }

    .menu-mobile.abrir{
        visibility: visible;
        height: calc(250vh - 10vh);
        position: fixed;
        z-index: 999;
    }

    .menu-mobile.esconder{
        visibility: hidden;
        height: calc(250vh - 10vh);
        position: fixed;
        z-index: 999;
    }

    /*Tema claro Escuro Mobile*/
    .checkbox-mobile{
        display:none;
    }

    .claroEscuro{
        display: inline;
    }
    
    .checkbox-mobile {
        opacity:0; /*esconde o checkbox deixando totalmente transparente*/
        position:absolute;
    }
    
    .label{
        background-color:#232c35;
        border-radius: 50px;
        cursor:pointer;
        position: absolute;
        left:82vw;
        top: 4.5vh;
        height: 17px;
        width:40px;
        transform: scale(1.5);
    }
    
    .label .ball{
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top:2px;
        left:2px;
        height: 13px;
        width:13px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
    }
    
    .checkbox-mobile:checked + .label .ball{
        transform:translateX(21px)
    }
    
    .fa-moon{
        margin-left: 5px;
        color:#f1c40f;
        font-size: 10px;
    }
    
    .fa-sun{
        margin-right: 5px;
        color:#f39c12;
        font-size: 10px;
    }
}

@media(width:360px){
    header h1{
        top:2.1vh;
    }
}

@media(width:360px) and (height:640px){
    header h1{
        top: 1.4vh;
    }
}

@media(min-width:430px) and (max-width:769px) and (min-height:898px) and (max-height: 933px){

    header{
        width: 100vw;
        padding: 0;
        height: 10vh;
    }

    header .navegacao-primaria{
        display: none;   
    }
    
    .titulo-mobile{
        display: block;
    }

    .cadastro{
        display: none;
    }    

    /*Btn Mobile*/
    header nav{
        display: none;
    }


    header h1 {
        color:#0ef;
        font-size: 1.9rem;
        left: 24vw;
        top:2.5vh;
        position: absolute;
    }

    .head-mobile{
        width: 100vw;
        height:10vh;
        position: fixed;
        z-index: 999;
        padding: 20px;
        display: block;
        background-color: #000;
        position: fixed;
        top:0;
        box-shadow: 1px 3px 40px #0ef;
        opacity: 0.9;
    }
    

    .head-mobile .btn-menu {
        width:12vw;
        height:6vh;
        border: 2px solid #000;
        cursor:pointer;
        border-radius: 5px;
        background-color:#000;
        visibility: visible;
        position: absolute;
        top: 2vh;
        left: 5vw;
        
    }

    .linha{
        width:80%;
        height:5px;
        background-color: #ccc;
        display: block;
        position:relative;
        margin:5px auto;
        border-radius: 10px;
        transition: 0.3s;
    }

    .btn-menu.ativar{
        border:1px solid #000;
    }

    button.ativar .linha:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
        background-color: red;
    }

    button.ativar .linha:nth-child(2){
        width: 0;
    }
    
    button.ativar .linha:nth-child(3){
        transform: translateY(-10px) rotate(45deg);
        background-color: red;
    }

    .menu-mobile.abrir{
        visibility: visible;
        height: calc(250vh - 10vh);
        position: fixed;
        z-index: 999;
    }

    .menu-mobile.esconder{
        visibility: hidden;
        height: calc(250vh - 10vh);
        position: fixed;
        z-index: 999;
    }

    /*Tema claro Escuro Mobile*/
    .checkbox-mobile{
        display:none;
    }

    .claroEscuro{
        display: inline;
    }
    
    .checkbox-mobile {
        opacity:0; /*esconde o checkbox deixando totalmente transparente*/
        position:absolute;
    }
    
    .label{
        background-color:#232c35;
        border-radius: 50px;
        cursor:pointer;
        position: absolute;
        left:82vw;
        top: 4.5vh;
        height: 17px;
        width:40px;
        transform: scale(1.5);
    }
    
    .label .ball{
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top:2px;
        left:2px;
        height: 13px;
        width:13px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
    }
    
    .checkbox-mobile:checked + .label .ball{
        transform:translateX(21px)
    }
    
    .fa-moon{
        margin-left: 5px;
        color:#f1c40f;
        font-size: 10px;
    }
    
    .fa-sun{
        margin-right: 5px;
        color:#f39c12;
        font-size: 10px;
    }
}

/*Rotação*/
@media(min-width:630px) and (max-width:950px){
    
    .menu-mobile{
        top:20vh;
    }

    header{
        width: 100vw;
        padding: 0;
        height: 10vh;
    }

    header .navegacao-primaria{
        display: none;   
    }
    
    .titulo-mobile{
        display: block;
    }

    .cadastro{
        display: none;
    }    

    /*Btn Mobile*/
    header nav{
        display: none;
    }


    header h1 {
        color:#0ef;
        font-size: 1.9rem;
        left: 36vw;
        top:4.2vh;
        position: absolute;
    }

    .head-mobile{
        width: 100%;
        height:20vh;
        position: fixed;
        z-index: 999;
        padding: 20px;
        display: block;
        background-color: #000;
        position: fixed;
        top:0;
        box-shadow: 1px 3px 40px #0ef;
        opacity: 0.9;
    }
    

    .head-mobile .btn-menu {
        width:12vw;
        height:16vh;
        border: 2px solid #000;
        cursor:pointer;
        border-radius: 5px;
        background-color:#000;
        visibility: visible;
        position: absolute;
        top: 2vh;
        left: 8vw;
        
    }

    .linha{
        width:80%;
        height:5px;
        background-color: #ccc;
        display: block;
        position:relative;
        margin:5px auto;
        border-radius: 10px;
        transition: 0.3s;
    }

    .btn-menu.ativar{
        border:1px solid #000;
    }

    button.ativar .linha:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
        background-color: red;
    }

    button.ativar .linha:nth-child(2){
        width: 0;
    }
    
    button.ativar .linha:nth-child(3){
        transform: translateY(-10px) rotate(45deg);
        background-color: red;
    }

    .menu-mobile.abrir{
        visibility: visible;
        height: calc(250vh - 10vh);
        position: fixed;
        z-index: 999;
    }

    .menu-mobile.esconder{
        visibility: hidden;
        height: calc(250vh - 10vh);
        position: fixed;
        z-index: 999;
    }

    /*Tema claro Escuro Mobile*/
    .checkbox-mobile{
        display:none;
    }

    .claroEscuro{
        display: inline;
    }
    
    .checkbox-mobile {
        opacity:0; /*esconde o checkbox deixando totalmente transparente*/
        position:absolute;
    }
    
    .label{
        background-color:#232c35;
        border-radius: 50px;
        cursor:pointer;
        position: absolute;
        left:82vw;
        top: 8vh;
        height: 17px;
        width:40px;
        transform: scale(1.5);
    }
    
    .label .ball{
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top:2px;
        left:2px;
        height: 13px;
        width:13px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
    }
    
    .checkbox-mobile:checked + .label .ball{
        transform:translateX(21px)
    }
    
    .fa-moon{
        margin-left: 5px;
        color:#f1c40f;
        font-size: 10px;
    }
    
    .fa-sun{
        margin-right: 5px;
        color:#f39c12;
        font-size: 10px;
    }
}
